{
  "name": "ioport-hub",
  "version": "1.0.3",
  "packageManager": "yarn@4.5.1",
  "private": true,
  "scripts": {
    "updatehub": "./Dist/install.js 'hub' 'update'",
    "installblip": "./Dist/install.js 'blip' 'clone'"
  },
  "bin": {
    "extract": "./Dist/extract.js"
  },
  "devDependencies": {
    "@npmcli/package-json": "^3.0.0"   
  }
}
